lin
win
dckr
dta
downloads
test
*.kdev4
*.pem
*.exe
*.dll
*.a
*.lib
*.dbg
meta.json
*.bucket
cloudCryptFS
cloudCryptFS.docker
valg.log
encryptionTest
.vs
Debug
Release
packages
/log.txt
fstest/fstest
config.json
